.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db
$RECYCLE.BIN/

.idea/
.vscode/
*.swp
*.swo
*~
*.lnk

__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.pytest_cache/

*.kicad_bak
*.kicad_backup
*.kicad_autosave
_autosave-*
*.kicad_prl
*_backup.kicad_pcb
fp-info-cache
.kicad_tmp/
.cache/

**/datasheets/
